
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Django-Entreprise</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
          crossorigin="anonymous">


    <style>
        body {

            padding-top: 70px;
        }
    </style>

</head>
<body>


<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://localhost:8000/admin/">Project
                    admin</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="http://localhost:8000/entreprises/">Liste
                        d'entreprises</a></li>
                    <li><a href="http://localhost:8000/entreprises/getlocation/">Location
                        d'entreprise</a></li>
                    <li><a href="http://localhost:8000/entreprises/publipostage/">Publipostage </a>
                    </li>

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</div>

<h1 style="text-align: center">Liste des entreprises</h1></br>

<div class=" container well well-lg">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom d'entreprise</th>
            <th>Adresse</th>
            <th>Code postal</th>
            <th>Ville</th>
            <th>Pays</th>
            <th>Numéro de téléphone</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
        </thead>
        <tbody>
        {% for e in page_objects.object_list %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.nom }}</td>
            <td>{{ e.adresse }}</td>
            <td>{{ e.codePostal }}</td>
            <td>{{ e.ville }}</td>
            <td>{{ e.pays }}</td>
            <td>{{ e.telephone }}</td>
            <td>{{ e.latitude }}</td>
            <td>{{ e.longitude }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</br>
<div style=" text-align:center;">
    {% if page_objects.has_previous %}
    <a href="?page={{ page_objects.previous_page_number }}"
       title="Page précédente">Précédent</a> {% endif %}
    {% for p in page_range %}
    {% ifequal p page_objects.number %}
			<span style="font-size:16px;"
                  title="Page courante"><b>{{ p }}</b></span>
    {% else %}<a href="?page={{ p }}" title="{{ p }}page">{{ p }}</a>
    {% endifequal %}
    {% endfor %}
    {% if page_objects.has_next %}
    <a href="?page={{ page_objects.next_page_number }}"
       title="Page suivante">Suivant</a>
    {% endif %}
    <p>
        {% if page_objects.paginator.num_pages %}
        {{ page_objects.paginator.num_pages }} Pages au totale{% endif %}
    </p>
</div>

<div class="container">
<hr>
<footer>
    <p>

        © 2015-2016 WANG Naijing | LP développement Web et mobilité

    </p>
</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>


</body>
</html>