<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Django-Entreprise</title>

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
		  integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
		  crossorigin="anonymous">

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
		  integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
		  crossorigin="anonymous">


	<style>
		body {

			padding-top: 70px;
		}
	</style>

</head>
</head>
<body>
<div class="container">
	<div class="container-narrow">

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="http://localhost:8000/admin/">Project
						admin</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="http://localhost:8000/entreprises/">Liste des entreprises</a></li>
						<li>
							<a href="http://localhost:8000/entreprises/getlocation/">Localisation des entreprises</a></li>
						<li class="active"><a
								href="http://localhost:8000/entreprises/publipostage/">Publipostage </a>
						</li>

					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>

		<h3 style="text-align: center">Sélectionner les entreprises à contacter
			pour les sensibiliser sur les taxes d'apprentissage</h3></br>

		<form style="text-align: center"
			  action="http://localhost:8000/entreprises/publipostage/"
			  method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Valider"/>

		</form>
		</br></br></br></br></br>

		<hr>
		<footer>
			<p>

				© 2015-2016 WANG Naijing | LP développement Web et mobilité

			</p>
		</footer>

	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
			integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
			crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</div>
</body>
</html>